.footer_all {
    background-color: rgb(34,34,34);
    text-align: center;
    margin-top: 60px;
}

.a_span{
    color: white;
    margin-left: 30px;
}

.hidden-xs{
    margin-top: 20px;
}

.copyright{
    margin-bottom: 20px;
}